Repository Azure/azure-sdk-for-android, pull requests merged in 2022-08, with the labels that each got.

#1168 Sync eng/common directory with azure-sdk-tools for PR 3765
  eng/common/scripts/job-matrix/README.md
Labels: EngSys, Central-EngSys

#1170 [CommunicationIdentifier] Added setter for rawId
  sdk/communication/azure-communication-common/src/main/java/com/azure/android/communication/common/CommunicationIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/android/communication/common/CommunicationUserIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/android/communication/common/MicrosoftTeamsUserIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/android/communication/common/PhoneNumberIdentifier.java
  sdk/communication/azure-communication-common/src/main/java/com/azure/android/communication/common/UnknownIdentifier.java
  sdk/communication/azure-communication-common/src/test/java/com/azure/android/communication/common/CommunicationIdentifierTests.java
Labels: Communication

#1171 Sync eng/common directory with azure-sdk-tools for PR 3826
  eng/common/pipelines/templates/steps/verify-links.yml
  eng/common/scripts/stress-testing/stress-test-deployment-lib.ps1
Labels: EngSys, Central-EngSys

#1173 Sync eng/common directory with azure-sdk-tools for PR 3860
  eng/common/testproxy/dotnet-devcert.crt
  eng/common/testproxy/dotnet-devcert.pfx
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#1123 Jimin/dev5 key
  config/checkstyle/checkstyle-suppressions.xml
  config/spotbugs/spotbugs-exclude.xml
  samples/sample-chat-app/build.gradle
  samples/sample-chat-app/src/main/AndroidManifest.xml
  samples/sample-chat-app/src/main/java/com/azure/android/communication/chat/sampleapp/ApplicationConstants.java
  samples/sample-chat-app/src/main/java/com/azure/android/communication/chat/sampleapp/MainActivity.java
  samples/sample-chat-app/src/main/java/com/azure/android/communication/chat/sampleapp/MyAppConfiguration.java
  sdk/communication/azure-communication-chat/build.gradle
  sdk/communication/azure-communication-chat/src/main/AndroidManifest.xml
  sdk/communication/azure-communication-chat/src/main/java/com/azure/android/communication/chat/implementation/notifications/fcm/KeyMetaDataStore.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/android/communication/chat/implementation/notifications/fcm/PushNotificationClient.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/android/communication/chat/implementation/notifications/fcm/RegistrarClient.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/android/communication/chat/implementation/notifications/fcm/RegistrationKeyManager.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/android/communication/chat/implementation/notifications/fcm/RegistrationRenewalWorker.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/android/communication/chat/implementation/notifications/fcm/RegistrationRenewalWorkerFactory.java
Labels: Communication

#1175 Sync eng/common directory with azure-sdk-tools for PR 3945
  eng/common/testproxy/target_version.txt
Labels: EngSys, Central-EngSys

#1180 Added null check for `httpResponse` in `RetryStrategy`.
  sdk/core/azure-core-http/src/main/java/com/azure/android/core/http/policy/RetryStrategy.java
Labels: Client, Azure.Core

#1179 Jimin/dev8
  samples/sample-chat-app/src/main/java/com/azure/android/communication/chat/sampleapp/MainActivity.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/android/communication/chat/ChatAsyncClient.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/android/communication/chat/ChatClient.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/android/communication/chat/implementation/notifications/fcm/PushNotificationClient.java
  sdk/communication/azure-communication-chat/src/main/java/com/azure/android/communication/chat/implementation/notifications/fcm/RegistrationRenewalWorker.java
Labels: Communication

#1181 Sync eng/common directory with azure-sdk-tools for PR 3874
  eng/common/pipelines/templates/jobs/perf.yml
  eng/common/pipelines/templates/steps/sparse-checkout.yml
Labels: EngSys, Central-EngSys

#1182 Prepare Azure Core beta release for August 2022
  sdk/core/azure-core-credential/CHANGELOG.md
  sdk/core/azure-core-credential/README.md
  sdk/core/azure-core-http-httpurlconnection/CHANGELOG.md
  sdk/core/azure-core-http-httpurlconnection/README.md
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/README.md
  sdk/core/azure-core-http/CHANGELOG.md
  sdk/core/azure-core-http/README.md
  sdk/core/azure-core-jackson/CHANGELOG.md
  sdk/core/azure-core-jackson/README.md
  sdk/core/azure-core-logging/CHANGELOG.md
  sdk/core/azure-core-logging/README.md
  sdk/core/azure-core-rest/CHANGELOG.md
  sdk/core/azure-core-rest/README.md
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/README.md
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/README.md
Labels: Client, Azure.Core

#1178 Android releasing
  README.md
  samples/sample-chat-app/src/main/java/com/azure/android/communication/chat/sampleapp/ApplicationConstants.java
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/README.md
  sdk/communication/azure-communication-chat/gradle.properties
Labels: Communication

#1183 Updated Windows VM image versions in `archetype-android-release.yml`.
  eng/pipelines/templates/stages/archetype-android-release.yml
  sdk/communication/ci.yml
Labels: EngSys, Communication, blocking-release

#1184 Increment Core versions after August 2022 beta release
  build.gradle
  sdk/core/azure-core-credential/CHANGELOG.md
  sdk/core/azure-core-credential/gradle.properties
  sdk/core/azure-core-http-httpurlconnection/CHANGELOG.md
  sdk/core/azure-core-http-httpurlconnection/gradle.properties
  sdk/core/azure-core-http-okhttp/CHANGELOG.md
  sdk/core/azure-core-http-okhttp/gradle.properties
  sdk/core/azure-core-http/CHANGELOG.md
  sdk/core/azure-core-http/gradle.properties
  sdk/core/azure-core-jackson/CHANGELOG.md
  sdk/core/azure-core-jackson/gradle.properties
  sdk/core/azure-core-logging/CHANGELOG.md
  sdk/core/azure-core-logging/gradle.properties
  sdk/core/azure-core-rest/CHANGELOG.md
  sdk/core/azure-core-rest/gradle.properties
  sdk/core/azure-core-test/CHANGELOG.md
  sdk/core/azure-core-test/gradle.properties
  sdk/core/azure-core/CHANGELOG.md
  sdk/core/azure-core/gradle.properties
Labels: Client, Azure.Core

#1186 post release
  samples/sample-chat-app/src/main/java/com/azure/android/communication/chat/sampleapp/ApplicationConstants.java
  sdk/communication/azure-communication-chat/CHANGELOG.md
  sdk/communication/azure-communication-chat/gradle.properties
  sdk/communication/azure-communication-common/CHANGELOG.md
  sdk/communication/azure-communication-common/gradle.properties
Labels: Communication
